[Desktop Entry]
Type=Application
Name=DD Flash
Comment=Modern GUI for safely writing ISO/IMG images to USB drives
Exec=dd-flash
Icon=com.gerchan.DDFlash
Terminal=false
Categories=Utility;System;Filesystem;
Keywords=usb;flash;iso;img;disk;image;boot;
StartupNotify=true
